
body {
  margin: 0;
  color: #c7c7c7 !important;
}

h6, h5 {
  font-weight: 500;
}

.MuiTypography-body1 {
  color: #c7c7c7;
}

.nav-selected {
  color: #141414 !important;
  background-color: #eeeeef !important;
}

.nav-root:hover {
  background-color: #b5b5b51c !important;
}

.btn {
  color: #141414 !important;
  background-color: #eeeeef !important;
  border-radius: 0 !important;
  padding: 12px 24px !important;
  font-weight: bold !important;
  width: 30%;
}

.btn:hover {
  background-color: #c2c2c2 !important;
}

.btn-outline {
  color: #eeeeef !important;
  border-radius: 0 !important;
  background-color: none !important;
  border: solid #eeeeef 1px !important;
  padding: 12px 24px !important;
  font-weight: bold !important;
  width: 30%;
}

.btn-outline:hover {
  background-color: #4f4e4e5c !important;
}